@{
    ViewData["Title"] = "Shabon Sharipov";
}

<div class="text-center">
    <h1 style="text-align: center;font-size: 50px;color:red ;">Registoratsiy</h1>

    <table style="margin: 10px;">
        <tr style="padding-top: 10px;">
            <td>
                <label style="margin-left: 20px;font-size: 20px;">FirstName :</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label style="margin-left: 20px;font-size: 20px;">LastName:</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label style="margin-left: 20px;font-size: 20px;">MiddlName:</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label style="margin-left: 20px;font-size: 20px;">E-mail:</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Save"><button>Save</button></a>                
            </td>
        </tr>
    </table>
</div>
